<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block navbar-active-buat %}active{% endblock navbar-active-buat %}

{% block content_block %}
<div id="buat_laporan">
    <div class="container-fluid">
        <h1 style="text-align: center; margin: 25px;">Ceritakan Masalahmu Disini!</h1>
        <div class="row" style="margin: auto;">
            <div class="col-sm-6">
                <form method="POST">
                    <table> {% csrf_token %}
                        {{ form }}
                    </table>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-5"></div>
                        <input type="submit" value="Lapor-sis!" class="col-sm-2"/>
                    </div>
                </form>
            </div>
            <div class="col-sm-6" style="text-align: center;">
                <br><br><br><br><br><br>
                <i>“Marilah kita bersama menjaga perempuan serta anak yang ada di sekitar kita,
                    anak merupakan generasi penerus bangsa dan menyelamatkan satu perempuan sama dengan menyelamatkan satu bangsa."</i>
                <br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</div>




{% endblock content_block %}