<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Tentang Kami {% endblock title %}
{% block navbar-active-about %}active{% endblock navbar-active-about %}

<!-- tentang lapor-sis! -->
{% block content_block %}
<div class="fully blue">
    <div class="container ttg">
        <h1 class="tentang ttg-1"><span style='color: #f2858a'>Lapor</span><span style='color: #b1cbd8'>-sis!</span></h1>
    </div>
</div>

<!-- Lapor-sis merupakan -->
<div class="pink">
    <div class="container-fluid">
        <div class="row penjelasan">
            <div class="col-xl-6 col-sm-12 laporin">
                <p class="lapor"><b>Lapor-sis!</b> merupakan sebuah sarana pengaduan tindakan kekerasan 
                pada remaja dan anak-anak berbasis media sosial yang mudah 
                diakses dan terpadu dengan KOMNAS HAM, maupun kepolisian.</p>
                <br>
                <p class="lapor">Lapor-sis! diinisiasi dengan latar belakang banyaknya remaja maupun
                anak-anak yang mengalami tindak kekerasan namun tidak berani untuk melapor
                karena takut diremehkan, takut akan disalahkan, maupun alasan lainnya.</p>
                <br>
                <p class="lapor terakhir">Dengan adanya Lapor-sis!, korban tindakan kekerasan dapat melapor dengan
                mudah tanpa tatap muka. Lapor-sis! juga akan melaporkan pengaduan tidak langsung
                kepada kepolisian untuk pertama kalinya, melainkan melaporkan kepada pihak
                KOMNAS HAM terlebih dahulu, baru kemudian dengan bantuan KOMNAS HAM akan
                ditindaklanjuti ke kepolisian.</p>
            </div>
            <div class="col-xl-6 col-sm-12">
                <img src="{% static 'alur.png' %}" alt="alur kerja Lapor-Sis!" class="img-fluid">
            </div>
        </div>
    </div>
</div>
    
<!-- FAQ -->
<div class="blue">
    <div class="container-fluid">
        <div class="row tanya">
            <div class="col-12">
                <h1 class="font-tanya"> Daftar Pertanyaan </h1>
            </div>
        </div>
        <div class="row list">
            {% for all in database %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 daftar">
                    <h5 class="white">Nama:</h5> 
                    <h5>{{ all.name }}</h5>                                                        
                    <h5 class="white">Pertanyaan: </h5>
                    <h5>{{ all.message }}</h5>                                                        
                    <h5 class="white">Jawaban: </h5>
                    <h5>Pending</h5>                                                        
                </div>
            {% endfor %}
            <br>
        </div>
    </div>
</div>

<!-- form -->
<!-- nama, email, pertanyaan, button submit -->
<div class="pink" id="form-ini">
    <div class="container-fluid">
        <div class="row tanya">
            <div class="col-12">
                <h1 class="font-tanya">Silakan Tanya Kami!</h1>
            </div>
        </div>
        <div class="row formnya">
            <div class="col-12">
                <form action="daftar/" method="POST">
                    {% csrf_token %}
                    <div>
                        <label>{{ form.name.label_tag }}</label> 
                        {{ form.name }}
                        <br>
                    </div>
                    <div>
                        <label>{{ form.email.label_tag }}</label>
                        {{ form.email }}
                        <br>
                    </div>
                    <div>
                        <label>{{ form.message.label_tag }}</label>
                        {{ form.message }}
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Kirim" style="float: right" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="container-fluid text-center">
    <h6>Dikembangkan oleh</h6>
    <h5>KA16</h5>
</footer>

{% endblock content_block %}