{% extends 'base.html' %}
{% load staticfiles %}
{% block navbar-active-status %}active{% endblock navbar-active-status %}

{% block content_block %}
<div id="lihat_laporan">
    <div class="container">
        <br>
        <h1 class="judul">{{ title }}</h1>
        <br>
        <div>
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th class="text-center" style="width: 25%" scope="col">Nama</th>
                    <th class="text-center" style="width: 20%" scope="col">Kategori</th>
                    <th class="text-center" style="width: 20%" scope="col">Status</th>
                    <th style="width: 35%" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for jawaban in respon %}
                    <tr>
                        <td class="text-center">{{jawaban.nama}}</td>
                        <td class="text-center">Pencurian</td>
                        <td class="text-center">{{jawaban.status}}</td>
                        <td class="text-center"><p>
                            <button id="details_button" class="btn btn-light button-pink" type="button" data-toggle="collapse" data-target="#collapseExample{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample">
                              Details
                            </button>
                          </p>
                          <div class="collapse" id="collapseExample{{ forloop.counter }}">
                            <div class="card card-body">
                              <div class="text-justify">
                                {{jawaban.laporan}}
                              </div>
                            </div>
                          </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>
{% endblock content_block %}
