{% extends 'base.html' %}
{% load staticfiles %}


{% block content_block %}
<div id="ubah_laporan">
    <div class="container">
        <br>
        <h1 class="judul">{{ title }}</h1>
        <br>
        <div>
            <table class="table" id="table_ubah_laporan">
                <thead class="thead-light">
                  <tr>
                    <th class="text-center" style="width: 22%" scope="col">Nama</th>
                    <th class="text-center" style="width: 20%" scope="col">Kategori</th>
                    <th class="text-center" style="width: 23%" scope="col">Status</th>
                    <th style="width: 35%" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for jawaban in respon %}
                    <tr>
                        <td class="text-center">{{jawaban.nama}}</td>
                        <td class="text-center">Pencurian</td>
                        <td>
                          <form method="POST" action="{% url 'laporan:ubahStatusLaporan' id=jawaban.id %}">
                            {% csrf_token %}
                            {{lapor.as_p}}
                            <button type="submit" class="btn btn-primary waves-effect waves-light" value="Save">Ubah Status</button>
                          </form>
                        </td>
                        <td class="text-center"><p>
                            <button id="detail_button" class="btn btn-light button-pink" type="button" data-toggle="collapse" data-target="#collapseExample{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample">
                              Details
                            </button>
                          </p>
                          <div class="collapse" id="collapseExample{{ forloop.counter }}">
                            <div class="card card-body">
                              <div class="text-justify"> 
                                {{jawaban.laporan}} 
                              </div>
                            </div>
                          </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock content_block %}
