<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

<!-- Header -->
{% block title %} Lapor Sis! {% endblock title %}

<!-- Body -->
{% block content_block %}
    <!-- <div class="container-fluid container-helloWorld d-flex align-items-center justify-content-center">
        <h1 class ="p-2" id="HelloWorld">Coming Soon!</h1>
    </div> -->
    <div class="container-fluid container-login-page d-flex align-items-center col-12 justify-content-center">
        <div class=" container row col-4">
            <h1 id="header-login-page">Login</h1>
            <div class="container container-login border border-secondary rounded-lg">
                <form action="POST">
                    {{form}}
                    <a  class="btn btn-danger btn-sm align-middle" href="{% url 'jadwalku:delete' kegiatan.id %}">delete</a>
                </form>
            </div>
        </div>
    </div>
    

   
{% endblock content_block %}