<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- BootstrapCDN CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'css/frontpage.css' %}">
    <link rel="stylesheet" href=" {% static 'base.css' %}">
    <link rel="stylesheet" href=" {% static 'css/about.css' %}">
    <link rel="stylesheet" href=" {% static 'css/login.css' %}">

    <!-- BootstrapCDN JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Google Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet"> 
    <!--  font-family: 'Permanent Marker', cursive; -->

    <link href="https://fonts.googleapis.com/css?family=Boogaloo&display=swap" rel="stylesheet"> 
    <!-- font-family: 'Boogaloo', cursive; -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- font-family: 'Montserrat', sans-serif; -->

    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"> 
    <!-- font-family: 'Comfortaa', cursive; -->

    <link href="https://fonts.googleapis.com/css?family=BenchNine&display=swap" rel="stylesheet"> 
    <!-- font-family: 'BenchNine', sans-serif; -->


    <title>{% block title %}{% endblock title %}</title>
</head>
<body>  
    <nav class="navbar navbar-expand-md container-navbar navbar-dark mx-auto ">
        <a href="/" class="navbar-brand mr-5 ml-2" id="logo">Lapor<span style="color: #b7d2e0">-sis!</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <a href="/" class="nav-link nav-item button-nav {% block navbar-active-home %}{% endblock navbar-active-home %}">Beranda</a>
                <a href="{% url 'form:buatLaporan' %}" class="nav-link nav-item button-nav {% block navbar-active-buat %}{% endblock navbar-active-buat %}">Buat Laporan</a>
                <a href="{% url 'laporan:lihatLaporan' %}" class="nav-link nav-item button-nav {% block navbar-active-status %}{% endblock navbar-active-status %}">Status Laporan</a>
                <a href="{% url 'about:about' %}" class="nav-link nav-item button-nav {% block navbar-active-about %}{% endblock navbar-active-about %}">Tentang Kami</a>
            </ul>
            <div clas="navbar-nav">
                <a href="{% url 'frontpage:register' %}" class="nav-item nav-link button-nav btn btn-primary mt-2 mt-md-0">Daftar Newsletter</a>
            </div>
        </div>
    </nav>
    {% block content_block %}{% endblock content_block %}
</body>
</html>